# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env
.env.*

# Editor directories and files
.vscode/
.idea/
*.swp

# Logs
*.log

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS
.DS_Store
